* {
    font-family: Inter;
}

.title {
    font-size: 56px;
    font-weight: 400;
    text-align: left;
    color: #223354;
   
}

.main {
    display: flex;
    flex-direction: column;
}

.p1 {
    color: #BDBDBD;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.heading {
    color: #293959;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.b1 {
    width: 478px;
    height: 54px;
    margin-top: -30px;
    
}

.r1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 30px;
}

.text {
    color: #293959;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;

}

.center {
    display: flex;
    flex-direction: column;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.d {
    background-color: #223354;
    color: white;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

/* next page*/

.box {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 10px;
}

.ba1 {
    height: 48px;
    width: 48px;
    background-color: #223354;
    color: #EDF0F5;
    text-align: center;
}

.ba2 {
    height: 48px;
    width: 48px;
    background-color: #ffffff;
    color: #a4a4a4;
}

.tb {
    background-color: #1ab4d7;
    width: 88px;
    height: 49px;
    top: 7px;
    left: 928px;
    padding: 13px 29px 13px 27px;
    color: white;
}

.model {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
}

.mb {
    width: 388px;
    height: 346px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    box-shadow: #a4a4a4;
    box-shadow: 0px 8px 40px 0px #092C4C29;

}

.x1 {
    border: 2px solid #ffffff;
    background-color: #ffffff;
    width: 388px;
    height: 346px;
    border-radius: 8px 0px 0px 0px;
}

.x1 {
    border: 1px solid #f9f9f9;
    background-color: #ffffff;
    width: 388px;
    height: 346px;
    box-shadow: 2px 2px 2px gray;
    border-radius: 8px;
}

.x2 {

    border: 1px solid #e0e0e0;
    background-color: #e0e0e0;
    width: 98px;
    height: 98px;
    box-shadow: 2px 2px 2px gray;
    border-radius: 8px;

}

.sb {
    height: 55px;
    width: 275px;
    background-color: #223354;
    color: #EDF0F5;
    border-radius: 8px;
}

/* banner */
.banner {
    width: 65%;
    padding-left: 100px;
    padding-top: 10px;
}

.banner1 {
    border: 2px solid #223354;
    height: 232px;
    width: 582px;
    background-color: #223354;
}

.rb1 {
    height: 55px;
    width: 163px;
    background-color: #1ab4d7;
    color: #EDF0F5;
    border-radius: 8px;
}

.heading1 {
    color: white;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-left: 20px;
}

.rt {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;

}

/* end */
.z1 {
    border: 2px solid #eeeeee;
    width: 534px;
    height: 55px;

}

.z2 {
    border: 1px solid #eeeeee;
    height: 55px;
    width: 534px;
    background-color: #ffffff;
    padding-top: 5px;
    box-shadow: 0px 2px 16px 0px #0000001A;


}

.g1 {
    border: 2px solid #223354;
    background: #223354;
    width: 534px;
    height: 55px;


}

.g2 {
    border: 2px solid #e0e0e0;
    background: #e0e0e0;
    width: 534px;
    height: 205px;
    top: 53px;
    gap: 0px;
    opacity: 0px;

    margin-left: 20px;

}

.end {
    display: flex;
    flex-direction: row;
}

.tb {
    background-color: #1ab4d7;
    width: 88px;
    height: 49px;
    top: 7px;
    left: 928px;
    padding: 13px 29px 13px 27px;
    color: white;
}

.heading2 {
    color: #223354;
    width: 132px;
    height: 23px;
    top: 16px;
    left: 24px;
    padding-left: 20px;
}

.heading3 {
    color: white;
    width: 132px;
    height: 23px;
    top: 16px;
    left: 24px;
    padding-left: 20px;
}