body {
    font-family: Inter;
    background-color: #2233540D;

    margin: 0;
}



.left {
    background: #FFFFFF;
    width: 17%;
    height: 700px;
    padding-left: 10px;
    float: left;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 90px;
    padding-bottom: 100px;
    padding-top: 10px;
}

.vector {
    width: 13.94px;
    height: 20px;
    top: 2px;
    left: 5px;
    border: 1px;
    padding: 5px;
    padding-left: 20px;
}

.emi {
    padding-left: 20px;
}

.ds {
    font: inter;
    font-weight: 500;
    size: 14px;
    line-height: 50px;
    color: #1AB4D7;
    padding: 20px;
}

.p {
    color: #515151;
}

.p1 {
    line-height: 50px;
    padding-left: 20px;
}

.right {
    background: #FFFFFF;
    height: 80px;
    width: 100%;
}

.rr {
    display: flex;
    flex-direction: row;
    padding-left: 300px;
    padding-top: 15px;
    width: 27%;

}

.rl {
    padding-top: 10px;
    height: 100px;
    width: 73%;
}

.il {
    border: 2px solid #ffffff;
    box-shadow: #ffffff;
    height: 768px;
    width: 240px;
}

.box {
    height: 56px;
    width: 320px;
    border: 2px solid #dbdcdc;
    color: #ababac;
    border-radius: 8px;
    background: transparent;
}

input[type="text"]::placeholder {
    font-weight: 400;
    color: #ababac;
    font-size: 16px;
    padding-left: 10px;


}



.title {
    color: #4f4f4f;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;


}

.ptext {
    color: #cfcfcf;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;

}

.la {
    width: 33.33%;
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.interestrate {
    width: 33.33%;
    padding-top: 10px;
    padding-left: 10px;

}



.calb {
    height: 55px;
    width: 235px;
    border: 2px solid #e0e0e0;
    background-color: #e0e0e0;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
   

}

.radio {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-top: 70px;
}

input[type="radio"] {
    border-radius: 5px;
    width: 20px;
    height: 20px;
    accent-color: #223354;
}

.loan {
    background: #FFFFFF;
    float: left;
    padding-left: 30px;
    padding-right: 20px;
    width: 300px;
    margin-right: 30px;
    padding-left: 20px;
}

.hl {
    border: 1px solid #ebebeb;
    width: 337px;
    margin-left: -19px;

}

.ht {
    height: 32px;
    border: 1px solid #ebebeb;
}

.select {
    background-color: #edf9fc;
    width: 208px;
    height: 58px;
    border-radius: 8px;
    float: left;
}

.title1 {
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: left;

}