body {
    font-family: Inter;
    background-color: #2233540D;
    margin: 0;
}

.left {
    background: #FFFFFF;
    height: 780px;
    float: left;  
    padding-left: 20px;
}

.main {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 90px;
    padding-bottom: 100px;
    padding-top: 10px;
}

.vector {
    width: 13.94px;
    height: 20px;
    top: 2px;
    left: 5px;
    border: 1px;
    padding: 5px;
    padding-left: 20px;
}

.emi {
    padding-left: 20px;
}

.ds {
    font: inter;
    font-weight: 500;
    size: 14px;
    line-height: 50px;
    color: #1AB4D7;
    padding: 20px;
}


.p1 {
    line-height: 50px;
    padding-left: 20px;
}

p {}

.right {
    background: #FFFFFF;
    height: 80px;
    width: 1350px;
}

.text {
    color: #BDBDBD;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    text-align: left;


}


.rr {
    display: flex;
    flex-direction: row;
    padding-left: 300px;
    padding-top: 15px;
    width: 27%;

}

.rl {
    padding-top: 10px;
    height: 100px;
    width: 73%;
}

.select {
    background-color: #edf9fc;
    width: 208px;
    height: 58px;
    border-radius: 8px;
    float: left;
}

hr {
    height: 40px;
    border: 1px solid #ebebeb;
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 76px;
    gap: 5px;
}

.box {
    height: 56px;
    width: 320px;
    border: 1px solid #bdbdbd;
    color: #828282;
    border-radius: 4px;
    background: transparent;
}

input[type="text"]::placeholder {
    font-weight: 400;
    color: #ababac;
    font-size: 16px;
    padding-left: 20px;
  


}

textarea {
    width: 320px;
    height: 268px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    background: transparent;
    resize: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    padding-left: 10px;
}

textarea::placeholder {
    color:#828282;
    opacity: 0.5;
    padding: 16px 24px;
}


.ht5 {
    color: #223354;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    margin-top: 32px;
    margin-bottom: 16px;
    margin-left: 4px;  
}

table {
  
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
}

.p{
    color: #ababac;

}
td {
    
    text-align: center;
    padding: 8px;
}

th {
  
    text-align: center;
    color: white;
    height: 64px;
    background-color: #223354;
}

tr:first-child th:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

tr:first-child th:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

tr:nth-child(odd) {
    background-color: #eceded;
}

.addbutton {
    width: 88px;
    height: 49px;
    padding: 13px 29px 13px 27px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    color: white;
    background: #1AB4D7;
}
.addbutton1{
    text-align: center;
    margin-left: 912px;
    padding-top: 7px;
    margin-bottom: 39px;
}
.tableinv {
    width: 95%;   
      margin-right: 145px;
    margin-left: 20px;
}
.textinv{
   
    margin-bottom: 32px;
    margin-right: 28px;
}
.sub1{
    display: flex; 
    flex-direction: row;
    margin-top: 24px; 
     margin-left: 229px;
}
.tbox {
    width: 442px;
    height: 55px;
    top: 4px;
    left: 89px;
    border: 2px solid #dadbdb;
    align-content: center;
    border-radius: 4px;

}

.tbox2 {
    width: 66px;
    height: 55px;
    top: 4px;
    left: 89px;
    border: 2px solid #dadbdb;
    align-content: center;
    border-radius: 4px;
}

.tbox3 {
    width: 124px;
    height: 55px;
    top: 4px;
    left: 89px;
    border: 2px solid #dadbdb;
    align-content: center;
    border-radius: 4px;

}

.invbox {
    width: 100%;
    height: 220px;
    background-color: #FFFFFF;
}
.tabletext{
font-size: 16px;
font-weight: 400;
color: #828282;
}
.tabletext1{
font-size: 16px;
font-weight: 400;
color: #4f4f4f;

}
.note {
    width: 496px;
    height: 118px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
}
.notes{
    width: 50%; 
    margin: 30px; 
    margin-left: 38px;
    margin-bottom: 98px;
}