body {
    font-family: Inter;
    background-color: #f4f5f6;
}

.left {
    background: #FFFFFF;
    width: 250px;
    height: 700px;
    gap: 0px;
    opacity: 0px;
    float: left;
    padding: 20px;
    padding-left: 30px;
}

.logo {
    width: 75.05px;
    height: 59.21px;
    left: 67.21px;
    border-radius: 2px;
    align-items: center;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-top: 10px;

}

.vector {
    width: 13.94px;
    height: 20px;
    top: 2px;
    left: 5px;
    border: 1px;
    padding: 5px;
    padding-left: 20px;
}

.emi {
    padding-left: 20px;
}

.ds {
    font: inter;
    font-weight: 500;
    size: 14px;
    line-height: 50px;
    color: #1AB4D7;
    padding: 20px;
}
.p {
    color :#515151;
}

.p1 {
    line-height: 50px;
    padding-left: 20px;
}

.right {
    background: #FFFFFF;
    height: 80px;
    width: 1350px;
}

.rr {
    display: flex;
    flex-direction: row;
    padding-left: 360px;
    padding-top: 10px;

}

.rl {
    padding-top: 10px;
    height: 100px;
    width: 500px;
}

.il {
    border: 2px solid #ffffff;
    box-shadow: #ffffff;
    height: 768px;
    width: 240px;
}

.box {
    height: 56px;
    width: 320px;
    border: 2px solid #dbdcdc;
    color: #ababac;
}

.title {
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;

}
.title1 {
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
  margin-top: 0;
    text-align: left;

}
.ptext {
    color: #cfcfcf;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;

}

.la {
    width: 33.33%;
    padding-left: 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.interestrate {
    width: 33.33%;
    padding-top: 10px;
    padding-left: 10px;

}

.loanemi {
    width: 33.33%;
    padding-left: 20px;
}

.calb {
    height: 55px;
    width: 235px;
    border: 2px solid #1ab4d7;
    background-color: #1ab4d7;
    color: white;
    border-radius: 8px;
}
.radio {
    display: flex;
    flex-direction: row;
    padding-left: 20px; 
    padding-top: 100px;
}
input[type="radio"] {
    border-radius: 5px;
    width: 20px;
    height: 20px;
    accent-color: #223354;
}
.loan {
    background: #FFFFFF;
    width: 278px;
    height: 340px;
    gap: 0px;
    opacity: 0px;
    float: left;
    padding: 20px;
    padding-left: 30px;

}
.hr {
    border: 0;
    border-top: 1px solid #eee;
}
.lb2 {
    background: #FFFFFF;
    width: 340px;
    height: 348px;
    float: left;
    padding: 20px;
    padding-left: 30px;
}
.select {
    background-color: #edf9fc;
    width: 208px;
    height: 58px;
    border-radius: 8px;
    float: left;
}
/*tabs*/
.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    font-family: sans-serif;
  }
  
  .tabs__label {
    padding: 10px 16px;
    cursor: pointer;
  }
  
  .tabs__radio {
    display: none;
  }
  
  .tabs__content {
    order: 1;
    width: 100%;
    border-bottom: 3px solid #dddddd;
    line-height: 1.5;
    font-size: 0.9em;
    display: none;
  }
  
  .tabs__radio:checked+.tabs__label {
    font-weight: bold;
    color: #223354;
    border-bottom: 2px solid #223354;
  }
  
  .tabs__radio:checked+.tabs__label+.tabs__content {
    display: initial;
  }
    /*color box */
    .cbox {
        width: 16px;
        height: 16px;
        background-color:#88A825;
        border-radius: 8px;
      }
      .bx {
        border: 2px solid #efefef ;
        width: 330px;
        height: 45px;
      }
      .cb {
        width: 16px;
        height: 16px;
        background-color: #ED8C2B;
        border-radius: 8px;
      }
      .tt {
    height: 20px;
    top: 771px;
    padding-left: 2px;
    color: #3c4c68;
      }