.div1 {
    background: #FFFFFF;
    width: 250px;
    height: 700px;
    gap: 0px;
    opacity: 0px;
    float: left;
    padding: 20px;
    padding-left: 30px;
}
.logo {
    width: 75.05px;
    height: 59.21px;
    left: 67.21px;
    border-radius: 2px;
    align-items: center;
   padding-bottom: 100px;
   padding-left: 15px;
   padding-top: 10px;

}
.vector {
    width: 13.94px;
    height: 20px;
    top: 2px;
    left: 5px;
    border: 1px;
    padding: 5px;
    padding-left: 20px;
}

.emi {
    padding-left: 20px;
}
.ds {
    font: inter;
    font-weight: 500;
    size: 14px;
    line-height: 50px;
    color: #1AB4D7;
    padding: 20px;
}

.p1 {
    line-height: 50px;
    padding-left: 20px;
}
.div2{
     background: #FFFFFF;
    height:60px ;
    width: auto;
    display: inline-flex;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: row;
    padding-left: 110px;
    padding-top: 10px;
}
.left {
    padding-top: 10px;
}