
.progress1-container{
  margin-top:30px;
  height:187px;
  width:187px;
  position:relative;
  border-radius:50%;
  background:  conic-gradient(#223354 275deg,#C4C4C4 0deg);
}  
.circuler-progress1{
  height:155px;
  width:155px;
  position:absolute;
  border-radius:50%;
  background-color: #FFFFFF;
  color:#223354;
  top:16px;
  left:16px;
}
.prog-h5{
position:absolute;
  top:40px;
  left:50px;
  color:#223354;
  font-weight:700;
  font-size:32px;
}
.prog-p{
  top:90px;
  left:35px;
  color:#333333;
  font-weight:400;
  font-size:14px;
  position:absolute;
}