body {
    font-family: Inter;
    background-color:#2233540D;;
    margin: 0;
}

.left {
    background: #FFFFFF;
    width: 250px;
    height: 700px;
    gap: 0px;
    opacity: 0px;
    float: left;
    padding: 20px;
    padding-left: 30px;
}
.main{
    display: flex;
    flex-direction: row;
}

.logo {
    width: 75.05px;
    height: 59.21px;
    left: 67.21px;
    border-radius: 2px;
    align-items: center;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-top: 10px;

}

.vector {
    width: 13.94px;
    height: 20px;
    border: 1px;
  padding-top: 10px;
    padding-left: 20px;
}

.emi {
    padding-left: 20px;
}

.ds {
    font: inter;
    font-weight: 500;
    size: 14px;
    line-height: 20px;
    color: #1AB4D7;
    padding: 20px;
}

.p {
    color: #515151;
}

.p1 {
    line-height: 50px;
    padding-left: 20px;
}

.right {
    background: #FFFFFF;
    height: 80px;
    width: 1350px;
}

.rr {
    display: flex;
    flex-direction: row;
    padding-left: 310px;
    padding-top: 10px;

}
hr{
    border: 1px solid #ebebeb;
}

.ht{
    height: 40px;
    border:1px solid #ebebeb;
}
.rl {
    padding-top: 10px;
    height: 100px;
    width: 500px;
}

.il {
    border: 2px solid #ffffff;
    box-shadow: #ffffff;
    height: 768px;
    width: 240px;
}

.box {
    height: 56px;
    width: 320px;
    border: 2px solid #dbdcdc;
    color: #ababac;
}

.title {
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;

}

.title1 {
    color: black;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    text-align: left;

}

.ptext {
    color: #cfcfcf;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    text-align: left;

}
